:root {
    --ascent-color: #0033cc;
    --background-color: #6699ff;
    --font-color: #336600;
    --form-color: #993333;
    --sub-color: #cc0099;
    --button-color: #ffcccc;
}

* {
    box-sizing: border-box;
}


body {
    font-family: cursive;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--background-color);
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-container{
    background-color: var(--form-color);
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 1em;
    margin: 2em;
    position: relative;
}

.form-container form>input,button{
    display: block;
}